@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'F1';
    src: url('../f1.ttf') format('truetype');
}

.jost{
    font-family: "Jost", sans-serif;
}

.f1{
    font-family: "F1";
}

.active{
    background-color: #1e293b ;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}

.nav-menu{
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    font-weight: 500;
}